<h1>1d20</h1>
<ul>
<% if @die == 1 %>
  <li style="color: red"><%= @outcome %></li>
<% elsif @die == 20 %>
  <li style="color: green"><%= @outcome %></li>
<% else %>
  <li><%= @outcome %></li>
<% end %>
</ul>
